.section-series{
    background-color: $dark_color;
    h2{
        display: inline-block;
        padding: 12px 20px;
        font-size: 28px;
        transform: translateY(-50%);
        color: $light_color;
        background-color: $main_color;
        margin: 0;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            flex-basis: 185px;


            .serie-img{
                width: 185px;
                img{
                    max-width: 100%;
                }
            }
            h3{
                margin: 10px 0 40px 0;
                color: $light_color;
            }
        }
    }
    .more-button{
        text-align: center;
        padding-bottom: 14px;
        a{
            background-color: $main_color;
            color: $light_color;
            padding: 10px 80px;
        }
    }
}

.section-action{
    background-color: $main_color;
    color: $light_color;
    .action-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px 0;
        .action-box{
            display: flex;
            align-items: center;
            .action-img{
                width: 55px;
                padding-right: 10px;
                &#local-logo{
                    width: 42px;
                }
                &#digital-logo{
                    width: 45px;
                }
                img, svg {
                    width: 100%;
                }
            }
        }
    }
}
