.section-series{
    background-color: $dark_color;
    h2{
        display: inline-block;
        padding: 12px 20px;
        font-size: 28px;
        transform: translateY(-50%);
        color: $light_color;
        background-color: $main_color;
        margin: 0;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            flex-basis: 185px;


            .serie-img{
                width: 185px;
                img{
                    max-width: 100%;
                }
            }
            h3{
                margin: 10px 0 40px 0;
                color: $light_color;
            }
        }
    }
    .more-button{
        text-align: center;
        padding-bottom: 14px;
        a{
            background-color: $main_color;
            color: $light_color;
            padding: 10px 80px;
        }
    }
}

.section-action{
    background-color: $main_color;
    color: $light_color;
    .action-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 60px 0;
        .action-box{
            display: flex;
            align-items: center;
            .action-img{
                width: 55px;
                padding-right: 10px;
                &#local-logo{
                    width: 42px;
                }
                &#digital-logo{
                    width: 45px;
                }
                img, svg {
                    width: 100%;
                }
            }
        }
    }
}

#single-comic{
    background-color: $main_color;
    padding-top: 60px;
    .thumb-img{
        position: relative;
        .img-comics-box{
            position: absolute;
            transform: translateY(-107%);
            .img-comics-content{
                position: relative;
                border: 1px solid $light_color;
                .label{
                    position: absolute;
                    background-color: lighten($main_color, 16%);
                    color: $light_color;
                    padding: 4px;
                    &.view-gallery{
                        text-align: center;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    .details-comic{
        background-color: $light_color;
        .shop-comic{
            padding: 40px 0;
            display: flex;

            .info-shop{
                width: calc(70% - 30px);
                margin-right: 30px;
                h1{
                    color: $dark_main_color;
                }
                .price-check{
                    display: flex;
                    justify-content: space-between;
                    background-color: $price_color;
                    color: $light_color;
                    h4{
                        margin: 0;
                        padding: 14px 18px;
                    }

                    .check-comic{
                        display: flex;
                        h4:first-child{
                            opacity: 72%;
                        }
                        h4:last-child{
                            border-left: 1px solid rgba(0, 0, 0, 0.2);
                        }
                    }
                }
                .info-comic{
                    padding: 20px 0;
                    p{
                        line-height: 1.6;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
            .adv{
                width: 30%;
                text-align: right;
                h4{
                    margin-bottom: 0;
                }
            }
        }

    }
    .talent-specs{
        background-color: $sub_light_color;
        border-top: $border-light;
        padding: 40px 0;
        .talent-specs-content{
            display: flex;
            h2, h5{
                color: $dark_main_color;
            }
            h2{
                margin: 0;
                padding: 20px 0;
                border-bottom: $border-light;


            }
            h5{
                margin: 0;

            }
            p{
                font-size: 0.83em;
                margin: 0;
                width: 70%;
            }

            a{
                color: $main_color;
            }

            .talent, .specs{
                width: calc(50% - 20px);
                margin-right: 20px;
                .info-content{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 12px 0;
                    border-bottom: $border-light;
                }
            }
        }
    }
}
